<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.englishhindi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" 
        android:maxSdkVersion="28" />


    <application
        android:name=".EnglishHindiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
        
        <activity
            android:name=".AddWordActivity"
            android:label="@string/add_new_word"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <activity
            android:name=".WordDetailActivity"
            android:label="Word Details"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <activity
            android:name=".LessonsActivity"
            android:label="@string/lessons_title"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <activity
            android:name=".LessonDetailActivity"
            android:label="Lesson"
            android:parentActivityName=".LessonsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LessonsActivity" />
        </activity>
        
        <activity
            android:name=".PracticeActivity"
            android:label="@string/practice_title"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_title"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <activity
            android:name=".LanguageSettingsActivity"
            android:label="@string/language_preference"
            android:parentActivityName=".SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SettingsActivity" />
        </activity>
        
        <activity
            android:name=".FlashcardActivity"
            android:label="@string/flashcards"
            android:parentActivityName=".PracticeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PracticeActivity" />
        </activity>
        
        <activity
            android:name=".QuizActivity"
            android:label="@string/multiple_choice"
            android:parentActivityName=".PracticeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PracticeActivity" />
        </activity>
        
        <activity
            android:name=".SpellingPracticeActivity"
            android:label="@string/spelling"
            android:parentActivityName=".PracticeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PracticeActivity" />
        </activity>
        
        <activity
            android:name=".PronunciationPracticeActivity"
            android:label="@string/pronunciation"
            android:parentActivityName=".PracticeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PracticeActivity" />
        </activity>
        
    </application>

</manifest>